#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'description'
        'content';
}

#description {
    grid-area: description;
}

#content {
    grid-area: content;
}