#welcome {
    grid-area: welcome;
    background-color: red;
    height: 80vh;
}

#leadership {
    grid-area: leadership;
    background-color: orange;
    height: 60vh;
}

#about {
    grid-area: about;
    background-color: yellow;
    height: 100vh;
}

#activities {
    grid-area: activities;
    background-color: green;
    height: 100vh;
}

#contact {
    grid-area: contact;
    background-color: blue;
    height: 100vh;
}

#footer {
    grid-area: footer;
    background-color: indigo;
    height: 100vh;
}

/* #mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16rem;
    grid-template-areas: 
    'welcome'
    'leadership'
    'about'
    'activities'
    'contact'
    'footer';
} */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}