#hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#hero .header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 50;
}

#hero .imageContainer,
#hero .textContainer {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  grid-template-areas:
    "title"
    "socials"
    "imageContainer"
    "description"
    "details";
}

.main .title {
  grid-area: title;
}

.main .socials {
  grid-area: socials;
}

.main .imageContainer {
  grid-area: imageContainer;
}

.main .description {
  grid-area: description;
}

.main .details {
  grid-area: details;
}

.main .details .detail {
  border-bottom: 1px dashed grey;
  padding-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  #hero {
    grid-template-columns: repeat(2, 1fr);
  }

  #hero .imageContainer {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    grid-template-areas:
      "title imageContainer"
      "description imageContainer"
      "details imageContainer"
      "socials imageContainer";
  }
}
