#header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 3rem;
    align-items: center;
    column-gap: 0.5rem;
    grid-template-areas: 
    'hamburger name search';
}

#hamburger {
    grid-area: hamburger;
}

#name {
    grid-area: name;
}

#avatar {
    grid-area: avatar;
}

#search {
    grid-area: search;
}

.focus, .notFocus {
    transition: all 0.5s;
    transform-origin: top;
}

.focus {
    transform: rotateX(0deg);
}

.notFocus {
    transform: rotateX(-90deg);
}

@media (min-width: 640px) {
    #header {
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto;
        align-items: center;
        column-gap: 0.75rem;
        grid-template-areas: 
        'hamburger name search';
    }
}

@media (min-width: 1024px) {
    #header {
        grid-template-columns: auto 1fr;
        grid-template-rows: 3rem;
        align-items: center;
        column-gap: 0.75rem;
        grid-template-areas: 
        'name search';
    }
}