.open {
    transition: all 0.5s;
    transform: rotate(-270deg);
}

.close {
    transition: all 0.5s;
    transform: rotate(0deg);
}

.innerList::before {
    position: absolute;
    content: '';
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #00CC5F;
}

.innerListItem:hover::before {
    position: absolute;
    content: '';
    left: -1.25rem;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    transform: translateY(-50%);
    background-color: #00CC5F;
    border-radius: 100%;
}

