#small {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px auto;
}

#small .contentContainer {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    z-index: 2;
}

#small .imageContainer {
    grid-row-start: 2;
    grid-column-start: 1;
}

#small .svgContainer {
    grid-row-start: 2;
    grid-column-start: 1;
    z-index: 1;
}

#large {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: calc(100vh - 7rem);
}

#large > div:first-child {
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: -2;
}

#large > div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

#large > div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    z-index: -1;
}

.slider {
    animation: scale 40s linear infinite;
}

@keyframes scale {
    0%, 5% {
        transform: scale(1);
    }

    45%, 55% {
        transform: scale(1.5);
    }

    95%, 100% {
        transform: scale(1);
    }
}